clase1510_refxsd/ejemplo3/ejemplo3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Elemento raíz -->
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libro" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string"/>
                            <xs:element name="autor" type="xs:string"/>
                            <xs:element name="anio" type="xs:gYear"/>
                            <xs:element name="genero" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                        <!-- Atributo dentro del elemento libro -->
                        <xs:attribute name="codigo" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <!-- Atributo dentro del elemento raíz -->
            <xs:attribute name="ubicacion" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

</xs:schema>